@import url("./global.css");
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.main-title {
    font-size: 64px;
    color: #1F3F68;
}

.inner-title {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.subtitle {
    font-size: 36px;
    text-align: center;
}

.small-title {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.form-input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.contacts-button {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
    border-radius: 10px;
    border: 0px;
    padding: 5px 20px;
    background: linear-gradient(to right, rgb(62, 170, 253), rgb(146, 80, 237));
}

.form-contacts {
    background-image: url(/images/form-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.form-contacts label {
    display: block;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    background: linear-gradient(#fff, rgb(49, 128, 150));
}

.breadcrumbs li {
    padding: 10px;
    border-radius: 0 25px 25px 0;
    border-right: 2px solid #fff;
    box-shadow: 6px 0px 3px -3px #000;
}

.breadcrumbs a {
    color: #000;
    text-decoration: none;
}
